<template name="_header">

  <div class="ui inverted vertical masthead segment">

    <div class="ui container">
      <div class="ui large secondary inverted menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="{{ isActiveRoute regex='home' }} item" href="/">Home</a>
        {{#if currentUser}}
          <a href="{{ pathFor 'dashboard' }}" class="{{ isActiveRoute regex='dashboard' }} item">Dashboard</a>
          <div class="right item">
            {{> avatar user=currentUser shape="circle" size="menu"}}
            <a href="#" class="ui button" data-action="logout">
              Sign Out
            </a>
          </div>
        {{else}}
          <div class="right item">
            <a href="{{ pathFor 'atSignIn' }}" class="ui inverted button">Log in</a>
            <a href="{{ pathFor 'atSignUp' }}" class="ui inverted button">Sign Up</a>
          </div>
        {{/if}}
      </div>
    </div>

  </div>
</template>
