<template name="dashboard">
  <div class="ui container template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <div class="ui middle aligned divided list">
      {{#each items}}
        <div class="item">
          <i class="large checkmark box middle aligned icon"></i>
          <div class="content">
            <div class="header">{{ name }}</div>
            <div class="description">Rating: {{ rating }}</div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</template>
